<div class="d-flex d-md-none justify-content-between align-items-start mobilenavbar">
  <button class="mobilenavbtn">
    <div class="oi" data-glyph="menu"></div>
    <span class="btntext">menu</span>
  </button>
  <button class="mobilenavbtn">
    <div class="oi" data-glyph="target"></div>
    <span class="btntext">account</span>
  </button>
  <button class="mobilenavbtn selected"><img class="logomobile" src="/assets/images/icons/tiebaricon-white.png">
  </button>
  <button class="mobilenavbtn">
    <div class="oi" data-glyph="magnifying-glass"></div>
    <span class="btntext">search</span>
  </button>
  <button class="mobilenavbtn">
    <div class="oi" data-glyph="cart"></div>
    <span class="btntext">cart</span>
  </button>
</div>

<div class="d-none d-md-block width-constrained">
  <div class="d-flex justify-content-around align-items-center topnav">
    <div class="input-group searchbox">
      <button class="searchbtn">
        <span class="oi" data-glyph="magnifying-glass"></span>
      </button>
      <input type="search" class="tiebarinput" placeholder="Search">
    </div>

    <img src="/assets/images/tiebarlogo.svg" class="logo">

    <div class="btn-group">
      <button type="button" class="btn mainnavbtn">
        <div class="oi" data-glyph="target"></div>
        <span class="btntext">Account</span>
      </button>
      <button type="button" class="btn mainnavbtn">
        <div class="oi" data-glyph="heart"></div>
        <span class="btntext">Wishlist</span>
      </button>
      <button type="button" class="btn mainnavbtn">
        <div class="oi" data-glyph="cart"></div>
        <span class="btntext">Cart</span>
      </button>
    </div>
  </div>

  <div class="d-flex justify-content-around sitenav">
    <div class="m-2"><a href="#">Shirts</a></div>
    <div class="m-2"><a href="#">Pants</a></div>
    <div class="m-2"><a href="#">Ties</a></div>
    <div class="m-2"><a href="#">Bow Ties</a></div>
    <div class="m-2"><a href="#">Pocket Squares</a></div>
    <div class="m-2"><a href="#">Socks &amp; Underwear</a></div>
    <div class="m-2"><a href="#">Accessories</a></div>
    <div class="m-2"><a href="#">The Wedding Shop</a></div>
  </div>
</div>

<div class="promobanner">
  <div class="d-flex justify-content-center flex-wrap p-2">
    <div class="tg px-2">ALL SHIRTS SHIP FREE</div>
    <div class="pn px-2">No Code Required. Shop Now.</div>
  </div>
</div>


