<div class="d-flex justify-content-start flex-wrap">
  <div class="largebanner">
    <div class="bannertitle">
      <h2>The Gift Bar</h2>
      <div class="leftspacebar"></div>
    </div>
  </div>
  <div class="bannerlist">
    <div class="smallbanner d-none d-md-block"></div>
    <div class="btn-group-vertical listbtngroup">
      <button class="btn listbtn">gift &amp; style boxes</button>
      <button class="btn listbtn">gift cards</button>
      <button class="btn listbtn">tie of the month club</button>
      <button class="btn listbtn">bestselling gifts</button>
    </div>
  </div>
</div>
