
<app-tiebar-nav></app-tiebar-nav>
<app-tiebar-hero></app-tiebar-hero>
<app-tiebar-cardcarousel></app-tiebar-cardcarousel>
<app-giftbar-banner></app-giftbar-banner>
<div class="row width-constrained">
  <div class="col-sm-12 col-md-6 bc1">
    <app-rect-banner headertext="wedding shop" linktext="shop wedding" imgsrc="/assets/images/pokemon9.jpg"></app-rect-banner>
  </div>
  <div class="col-sm-12 col-md-6 bc2">
    <app-rect-banner headertext="perfect combos" linktext="shop combos" imgsrc="/assets/images/pokemon9.png"></app-rect-banner>
  </div>
</div>
<app-tiebar-footer></app-tiebar-footer>

