
<div class="container-fluid p-0">
  <div class="footertop">
    <div class="row width-constrained">
      <div class="col-sm-12 col-md-6">
        <span class="oi ftglyph" data-glyph="map"></span>
        <h4 class="mb-4">there is a store in your city</h4>
        <button class="transbtn mb-5">learn more</button>
      </div>
      <div class="col-sm-12 col-md-6 tiebarnews">
        <span class="oi ftglyph" data-glyph="envelope-closed"></span>
        <h4 class="mb-4">get the latest tie bar news</h4>
        <div class="ftinputwrapper">
          <input class="tiebarinput w-100" placeholder="Email Address">
        </div>
        <button class="transbtn mb-5 mt-3">join</button>
      </div>
    </div>
  </div>

  <div class="footermid">
    <div class="row width-constrained">
      <div class="col-md-7 d-none d-md-block">
        <div class="row pl-5">
          <div class="col-md-4 pl-5">
            <h4>orders</h4>
            <ul class="footerlinks">
              <li><a href="">Shipping Information</a></li>
              <li><a href="">Returns &amp; Exchanges</a></li>
              <li><a href="">My Account</a></li>
              <li><a href="">Track My Order</a></li>
              <li><a href="">Custom / Logo Neckties</a></li>
              <li><a href="">Wholesale</a></li>
              <li><a href="">E-Gift Card</a></li>
              <li><a href="">Wish List</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4>quick links</h4>
            <ul class="footerlinks">
              <li><a href="">Shipping Information</a></li>
              <li><a href="">Returns &amp; Exchanges</a></li>
              <li><a href="">My Account</a></li>
              <li><a href="">Track My Order</a></li>
              <li><a href="">Custom / Logo Neckties</a></li>
              <li><a href="">Wholesale</a></li>
              <li><a href="">E-Gift Card</a></li>
              <li><a href="">Wish List</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <div>
              <h4>stores</h4>
              <ul class="footerlinks">
                <li><a href="">About Our Stores</a></li>
                <li><a href="">Chicago</a></li>
                <li><a href="">Boston</a></li>
                <li><a href="">New York</a></li>
              </ul>
            </div>
            <div>
              <h4>we're famous</h4>
              <ul class="footerlinks">
                <li><a href="">Celebs in Ties</a></li>
                <li><a href="">Testimonials</a></li>
                <li><a href="">Read our Blog</a></li>
                <li><a href="">Jesse Tyler Ferguson</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 contactbox">
        <h4>we're here to help</h4>
        <div class="d-block d-lg-none spacebar"></div>
        <p class="mb-1">Mon - Thurs 8am - 6pm CST</p>
        <p>Friday 8am - 5pm CST</p>
        <div class="mt-2">
        <button class="contactbtn">
          <div class="oi" data-glyph="chat"></div>
          <span class="btntext">Chat</span>
        </button>
        <button class="contactbtn">
          <div class="oi" data-glyph="phone"></div>
          <span class="btntext">Call</span>
        </button>
        <button class="contactbtn">
          <div class="oi" data-glyph="envelope-closed"></div>
          <span class="btntext">Email</span>
        </button>
        </div>
        <div class="mt-2 mb-4">
        <button class="contactbtn">
          <div><img src="/assets/images/icons/ic_twitter.svg"></div>
          <span class="btntext">Twitter</span>
        </button>
        <button class="contactbtn">
          <div class="oi" data-glyph="question-mark"></div>
          <span class="btntext">FAQ</span>
        </button> 
        </div>
      </div>
    </div>
    <div class="row width-constrained d-none d-md-block">
      <div class="col-3 offset-2 follow">
        <p>follow us</p>
        <div class="d-flex justify-content-between">
          <a href="">
            <img src="/assets/images/icons/ic_facebook.svg">
          </a>
          <a href="">
            <img src="/assets/images/icons/ic_instagram.svg">
          </a>
          <a href="">
            <img src="/assets/images/icons/ic_pinterest.svg">
          </a>
          <a href="">
            <img src="/assets/images/icons/ic_twitter.svg">
          </a>
          <a href="">
            <img src="/assets/images/icons/ic_youtube.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
  
    <div class="d-block d-md-none">
      <div class="visitbox p-3">
        <h4>visit us</h4>
        <div class="spacebar"></div>
        <div class="d-flex justify-content-between mt-2">
          <button class="contactbtn mb-3">
            <div class="oi" data-glyph="map"></div>
            <span class="btntext">chicago</span>
          </button>
          <button class="contactbtn mb-3">
            <div class="oi" data-glyph="map"></div>
            <span class="btntext">boston</span>
          </button>
          <button class="contactbtn mb-3">
            <div class="oi" data-glyph="map"></div>
            <span class="btntext">new york</span>
          </button>
        </div>
      </div>
      <div class="d-flex justify-content-between mobilefollow">
        <a href="">
          <img src="/assets/images/icons/ic_facebook.svg">
        </a>
        <a href="">
          <img src="/assets/images/icons/ic_instagram.svg">
        </a>
        <a href="">
          <img src="/assets/images/icons/ic_pinterest.svg">
        </a>
        <a href="">
          <img src="/assets/images/icons/ic_twitter.svg">
        </a>
        <a href="">
          <img src="/assets/images/icons/ic_youtube.svg">
        </a>
      </div>
    </div>

  <div class="footerbot d-none d-md-block">
    <div class="width-constrained">
      The Tie Bar Copyright © 2017 All Rights Reserved
    </div>
  </div>
</div>